{% extends "base.html" %}

{% block app_content %}
<h1>OGN Devices Database</h1>

{{ _("This is the place to register your glider, towplane or other FLARM/OGN-equipped aircraft to the Open Glider Network. Registering has several advantages:") }}

<ul class="fa-ul">
<li><span class="fa fa-eye fa-fw">&nbsp;</span>You can influence how your glider is displayed on <a href="http://live.glidernet.org">live.glidernet.org</a> and other tracking sites</li>
<li><span class="fa fa-medkit fa-fw">&nbsp;</span>In case of SAR, your glider may be easier to find</li>
<li><span class="fa fa-users fa-fw">&nbsp;</span>You contribute to traffic-awareness among other pilots and ATC</li>
</ul>

The data is freely available under the ODC-BY license.
If you're not already a member, Create an account

Forgot your password ???, Reset password

Need help? contact@glidernet.org
{% endblock %}