{% extends "base.html" %}

{% block app_content %}
    <h1>Receivers</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ _("Name") }}</th>
                <th>{{ _("Description") }}</th>
                <th>{{ _("Antenna") }}</th>
                <th>{{ _("Preamplifier") }}</th>
                <th>{{ _("Filter") }}</th>
                <th>{{ _("Dongle") }}</th>
                <th>{{ _("Update") }}</th>
                <th>{{ _("Delete") }}</th>
            </tr>
        </thead>
        <tbody>
        {% for receiver in receivers %}
            <tr>
                <td>{{ receiver.name }}</td>
                <td>{{ receiver.description }}</td>
                <td>{{ receiver.antenna }}</td>
                <td>{{ receiver.preamplifier }}</td>
                <td>{{ receiver.rx_filter }}</td>
                <td>{{ receiver.sdr_dongle }}</td>
                <td><a href="{{ url_for('main.edit_receiver', receiver_id=receiver.id) }}" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td><a href="{{ url_for('main.edit_receiver', receiver_id=receiver.id) }}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}